{% extends 'main/base.html' %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'user-create' %}" class="btn btn-primary">إنشاء مستخدم جديد</a>
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h5 class="text-white text-capitalize pe-3">المستخدمين</h5>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    اﻷسم
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    أسم المستخدم
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    البريد اﻹلكتروني
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    مجموعة
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    تاريخ إنشاء الحساب
                                </th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in object_list %}
                            <tr>
                                <td>
                                    <p class="text-sm mb-0 me-2">{{ user.get_full_name }}</p>
                                </td>
                                <td>
                                    <p class="text-sm mb-0 me-2">{{ user.username }}</p>
                                </td>
                                <td>
                                    <p class="text-sm mb-0 me-2">{{ user.email }}</p>
                                </td>
                                <td>
                                    <p class="text-sm mb-0 me-2">{{ user.groups.first.name }}</p>
                                </td>

                                <td class="align-middle">
                                    <span class="text-secondary text-sm">{{ user.date_joined }}</span>
                                </td>
                                <td class="align-middle d-flex align-items-center">

                                    <a href="{% url 'user-detail' user.id %}" type="submit"
                                       class="btn btn-sm btn-info font-weight-bold text-xs"
                                       data-toggle="tooltip" data-original-title="Edit user">
                                        تفاصيل
                                    </a>
                                    <a href="{% url 'user-update' user.id %}" type="submit"
                                       class="btn btn-sm btn-warning font-weight-bold text-xs mx-2"
                                       data-toggle="tooltip" data-original-title="Edit user">
                                        تعديل
                                    </a>
                                    {% if not user.is_superuser %}
                                    <form method="POST"
                                          action="{% url 'user-delete' user.id %}"
                                          class="mx-2"
                                    > {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-danger font-weight-bold text-xs"
                                                data-toggle="tooltip" data-original-title="Remove user">حذف
                                        </button>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

