{% extends 'main/base.html' %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <form method="POST"
                  {% if is_update %}action="{% url 'project-update' project.id %}" {% endif %}
                  class="d-flex align-items-center mb-5"
            > {% csrf_token %}
                {{ form.name }}
                {% if is_update %}
                <button type="submit" class="btn btn-primary mb-0 me-2">تعديل</button>
                <a href="{% url 'project-list' %}" type="submit" class="btn btn-outline-primary mb-0 me-2">إلغاء</a>
                {% else %}
                <button type="submit" class="btn btn-primary mb-0 me-2">أضف مشروع</button>

                {% endif %}

            </form>
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h5 class="text-white text-capitalize pe-3">المشاريع</h5>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">اسم
                                    المشروع
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    تاريخ البداية
                                </th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for proj in projects %}
                            <tr>
                                <td>
                                    <p class="text-sm mb-0 me-2">{{ proj.name }}</p>
                                </td>

                                <td class="align-middle">
                                    <span class="text-secondary text-sm">{{ proj.created_at }}</span>
                                </td>
                                <td class="align-middle d-flex align-items-center">
                                    <form
                                            action="{% url 'project-update' proj.id %}"
                                            class="mx-2"
                                    > {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-warning font-weight-bold text-xs"
                                                data-toggle="tooltip" data-original-title="Edit project">
                                            تعديل
                                        </button>
                                    </form>
                                    <form method="POST"
                                          action="{% url 'project-delete' proj.id %}"
                                          class="mx-2"
                                    > {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-danger font-weight-bold text-xs"
                                                data-toggle="tooltip" data-original-title="Remove project">حذف
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">
                                    <p class="text-warning lead mb-0 text-center">
                                        عذرا لا يوجد بيانات ... إبدأ بإضافة مشاريع
                                    </p>

                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

