{% extends 'main/base.html' %}

{% block content %}

<div class="container-fluid py-4">
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
    <div class="col alert alert-danger" role="alert">
        {{ error }}
    </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
                        <h5 class="text-white text-capitalize pe-3">
                            {% if report_type == 'trial_balance' %}
                                ميزان المراجعة
                            {% else %}
                                حساب الإستاذ
                            {% endif %}
                        </h5>
                    </div>
                </div>
                <div class="card-body px-3 pb-2">
                    <form
                            method="POST"
                            {% if report_type == 'trial_balance' %}
                            action="{% url 'trial-balance' %}"
                            {% else %}
                            action="{% url 'ledger' %}"
                            {% endif %}
                    >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">{{ form.from_date }}</div>
                            <div class="col-md-6">{{ form.to_date }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form.account }}</div>
                            <div class="col-md-6">{{ form.project }}</div>
                        </div>
                        <button type="submit" class="btn btn-info mb-0">فتح
                            {% if report_type == 'trial_balance' %}
                                ميزان المراجعة
                            {% else %}
                                حساب الإستاذ
                            {% endif %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
